:root {
    --background-color: hsl(0, 0%, 100%);
    --text-color: hsl(0, 0%, 0%);
}

$blue: hsl(214, 88%, 53%); //add button
$addBtn: hsl(126, 98%, 43%); //add button
$border: hsl(0, 0%, 81%); //menu item border
$phtxt: rgb(226, 226, 226); //placeholder text
$searchBtn: #2e2e2e; //search button
$submitBtn: hsl(0, 97%, 54%) //submit button
