@use "../util" as u;
@use "../globals" as g;

// main grid system
.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 1rem;
  width: 95%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-inline: auto;
 
  @include u.breakpoint(medium) {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 1rem;
    width: 80%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin: auto;
    justify-content: center;
    
  }
}

// home page
.navarea {
  display: flex;
  flex-direction: column;
  
  // .navbar {
  //   display: flex;
  //   flex-direction: row;
  //   min-width: 100%;
  //   max-height: auto;
  //   margin: 0 auto;
  // }
}

.main {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}



// main menu page


.menu-items {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  margin: 0 auto;
   
  .item-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
    color: var(--background-color);

    .centered {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);      
    }
  }
}

// mains page
.section-wrapper {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  margin: 0 auto;

  .mains-item-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 0.25rem;
    border: 0.5px solid g.$border;

    .imgCntnr {
      width: 100%;
      height: auto;
    }
  }
}

// review order/shopping cart
.ordered-item-wrapper {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  width: 100%;
  height: auto;
  padding: 0.25rem;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.3125rem;
  box-shadow: 4px 2px 8px -2px rgba(171,168,171,0.57);

  .ordered-item {
    max-width: 25%;

    .item-details {
      display: flex;
      flex-direction: column;
      justify-items: left;
      padding-left: 0.5rem;
    }
  }
}

.ordered-item-price-wrapper {
  display: flex;
  flex-direction: column;
  // justify-content: space-around;

  .item-price {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.qty {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .amount-wrapper {
    border: 1px solid g.$border;
    padding-left: .5rem;
    padding-right: .5rem;
    background-color: g.$addBtn;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    border-radius: 0.3125rem;
  }   
}

.total-pymt-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding: 0.25rem;
  border-radius: 0.3125rem;
  box-shadow: 4px 2px 8px -2px rgba(171,168,171,0.57);

  .pymt-price-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5rem;

    .pymt-amount {
      font-weight: 700;
    }
  }
}

.buttons-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  // padding: 0.5rem;
  min-width: 100%;
  }

.back-order-buttons {
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.back-order {
  padding: 1rem;
}

p {
  margin-bottom: 0;
}

hr {
  margin: 0;
  width: 90%;
  margin-inline: auto;
}


  //qrcode scanner page
  .qrcode-wrapper {
     min-width: 200px;
     min-height: 200px;
     margin: 0 auto;
     padding: none;
     border: 0.25rem solid g.$border;
  }

  